<div class='region-search-detail'>

    <figure class="venue-search-thumb-wrapper">
      <img class="headliner image" src="{{venue.imageUrl}}" alt="{{venue.displayName}}" />
      <figcaption class="image-caption-text">{{venue.displayName}}</figcaption>
    </figure>

    <h4>{{venue.type}}</h4>

    {{#link-to 'venue.event.results' venue.id (query-params page='1')}}

      <h3>{{venue.displayName}}</h3>
    {{#if venue.metroArea.state.displayName  venue.metroArea.country.displayName}}
      <h4>{{venue.metroArea.displayName}}, {{venue.metroArea.state.displayName}},
      {{venue.metroArea.country.displayName}}</h4>
    {{else}}
      <h4>{{venue.metroArea.displayName}},
      {{venue.metroArea.country.displayName}}</h4>
    {{/if}}
    {{/link-to}}
</div>
