<div class='region-search-detail'>
{{#if artistSelect.noMatch}}
  <h3>We were unable to find an artist called  <strong>{{artistSelect.artist.displayName}}</strong></h3>
{{else}}

    <figure class="venue-search-thumb-wrapper">
      <img class="headliner image" src="{{artistSelect.imageUrl}}" alt="{{artistSelect.displayName}}" />
      <figcaption class="image-caption-text">{{artistSelect.displayName}}</figcaption>
    </figure>

    <div class='type-label'>
      <h5>{{upper-case artistSelect.type}}</h5>
    </div>
      {{#link-to 'artist.event.results' artistSelect.displayName artistSelect.id (query-params page='1')}}

        <h3>{{artistSelect.displayName}}</h3>
        {{#if artistSelect.onTourUntil}}
          <span class='tour-tag'>ON TOUR</span>
        {{/if}}
      {{/link-to}}

{{/if}}
</div>
