<a href='javascript:;' {{action 'goToConcert' event}}>
{{#each event.performance as |performance|}}
  {{#if (eq event.performance.length 1) }}

    <h4 class='artist-list'><strong>{{performance.artist.displayName}}</strong></h4>

  {{else if (eq performance.billingIndex event.performance.length) }}
    {{#if (gt event.performance.length 1) }}
      <h4 class='artist-list'><strong>{{performance.artist.displayName}}</strong></h4>
    {{/if}}
  {{else}}
    <h4 class='artist-list'><strong>{{performance.artist.displayName}}, </strong></h4>
  {{/if}}
{{/each}}
</a>
