<div class='region-results-wrapper'>

{{#if event.noMatch}}
  <h4 class='artist-list'>No upcoming events found for  <strong>{{event.performance.displayName}}</strong></h4>

{{else}}

{{artist-date event=event}}

<ul class='region-event-ul'>
  <li class='event'>

    {{#if (eq event.type 'Festival') }}

      <h4 class='artist-list'>
        <strong><a href='javascript:;'
          {{action 'goToConcert' event.id}}>
          {{event.displayName}}</a></strong>
      </h4>

      {{else}}
        {{artist-list event=event
                      value=event.id
                      goToConcert='goToConcert'}}
      {{/if}}

      {{#if (eq event.venue.displayName 'Unknown venue') }}
        <h4>{{event.location.city}}</h4>
      {{else}}
        <h4>{{event.venue.displayName}}, {{event.location.city}}</h4>
      {{/if}}

      {{#if event.start.time}}
      <h6>{{format-time event.start.time}}</h6>
      {{/if}}

  </li>
</ul>

{{tracking-buttons-concert model=event
                           trackEvent='trackEvent'
                           unTrackEvent='unTrackEvent'
                           userPicked=userPicked
                           isAuthenticated=isAuthenticated
                           goToAuthenticate='goToAuthenticate'}}

    {{button-to-concert value=event.id
                        buttonClick='goToConcert'
                        buttonTitle=buttonTitle}}

{{/if}}
</div>
