<div class='concert-venue-info'>

  {{#if (neq model.venue.displayName 'Unknown venue')}}
    <h4>Venue</h4>
    <a href='javascript;' {{action 'goToVenue' model.venue.id}}>
      <h4>{{model.venue.displayName}}</h4>
    </a>
  {{/if}}
    <p>{{model.venue.street}}</p>
    <p>{{model.venue.zip}}</p>

  {{#if model.venue.city.state.displayName}}
    <p>{{model.venue.city.displayName}}, {{model.venue.city.state.displayName}}, {{model.venue.city.country.displayName}}</p>
  {{else if model.location.city}}
    <p>{{model.location.city}}</p>
  {{/if}}

    <p>{{model.venue.phone}}</p>
    <a href={{model.venue.website}} target='_blank'>
      <p>{{model.venue.website}}</p>
    </a>
    {{#if model.venue.capacity}}
      <p>Capacity: <strong>{{model.venue.capacity}}</strong></p>
    {{/if}}

</div>

{{#if model.venue.lat}}
  {{concert-location-map lat=model.venue.lat lng=model.venue.lng title=model.venue.displayName}}
{{/if}}
