  <h4>Featuring:  {{#if isFullList}}<a class='get-more' {{action 'getFullList' concertId}}>See Less</a>{{/if}}</h4>

{{#liquid-if isFullList class='toLeft-list'}}

  <div class='artist-grid-wrapper'>
    <ui class='row-fluid artist-grid block-grid-3'>
    {{#each performances as |performance|}}
      <li>{{performance.artist.displayName}}</li>
    {{/each}}
    </ui>
  </div>

{{else}}

  {{#each performances as |performance index|}}
      {{#if (arr-last performances.length index)}}
        {{#if (lt performances.length 10)}}
        <h4 class='artist-list'><a href='javascript:;'
          {{action 'goToArtist' performance.artist.displayName performance.artist.id}}>{{performance.artist.displayName}}</a></h4>
        {{/if}}
      {{else if (lt index 9)}}
        <h4 class='artist-list'><a href='javascript:;'
          {{action 'goToArtist' performance.artist.displayName performance.artist.id}}>{{performance.artist.displayName}}, </a></h4>
      {{else if (eq index 9)}}
        <h4 class='artist-list'><a href='javascript:;'
          {{action 'goToArtist' performance.artist.displayName performance.artist.id}}>{{performance.artist.displayName}}, </a><a class='get-more' {{action 'getFullList' concertId}}>(see all)...</a></h4>
      {{/if}}

  {{/each}}

{{/liquid-if}}
