<div id="carousel-outer-generic" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  {{!-- <ol class="carousel-indicators">
    <li data-target="#carousel-outer-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-outer-generic" data-slide-to="1"></li>
    <li data-target="#carousel-outer-generic" data-slide-to="2"></li>
    <li data-target="#carousel-outer-generic" data-slide-to="3"></li>
  </ol> --}}

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active carousel-outer-inside-shadow">
      <figure class='carousel-background-wrapper event'>
        <img class='artist-background' src={{sortedEvents.0.performance.0.artist.imageUrl}} alt={{sortedEvents.0.performance.0.artist.displayName}}>
      </figure>
      <div class="carousel-caption event-outer">
        {{!-- <h2>{{sortedEvents.0.displayName}}</h2> --}}

      </div>
    </div>

    <div class="item carousel-outer-inside-shadow">
      <figure class='carousel-background-wrapper event'>
        <img class='artist-background' src={{sortedEvents.1.performance.0.artist.imageUrl}} alt={{sortedEvents.1.performance.0.artist.imageUrl}}>
      </figure>
      <div class="carousel-caption event-outer">
        {{!-- <h2>{{sortedEvents.1.displayName}}</h2> --}}

      </div>
    </div>

    <div class="item carousel-outer-inside-shadow">
      <figure class='carousel-background-wrapper event'>
        <img class='artist-background' src={{sortedEvents.2.performance.0.artist.imageUrl}} alt={{sortedEvents.2.performance.0.artist.imageUrl}}>
      </figure>
      <div class="carousel-caption event-outer">
        {{!-- <h2>{{sortedEvents.2.displayName}}</h2> --}}

      </div>
    </div>

    <div class="item carousel-outer-inside-shadow">
      <figure class='carousel-background-wrapper event'>
        <img class='artist-background' src={{sortedEvents.3.performance.0.artist.imageUrl}} alt={{sortedEvents.3.performance.0.artist.imageUrl}}>
      </figure>
      <div class="carousel-caption event-outer">
        {{!-- <h2>{{sortedEvents.3.displayName}}</h2> --}}

      </div>
    </div>

    <div class="item carousel-outer-inside-shadow">
      <figure class='carousel-background-wrapper event'>
        <img class='artist-background' src={{sortedEvents.4.performance.0.artist.imageUrl}} alt={{sortedEvents.4.performance.0.artist.imageUrl}}>
      </figure>
      <div class="carousel-caption event-outer">
        {{!-- <h2>{{sortedEvents.4.displayName}}</h2> --}}

      </div>
    </div>
  </div>

  <!-- Controls -->
  {{!-- <a class="left carousel-control" href="#carousel-outer-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-outer-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> --}}
</div>
