<div id="carousel-inner-generic" class="carousel slide" data-ride="carousel">
  <div class='carousel-inner-title'>
    <h3>POPULAR in {{upper-case userLocationSetting.regionName}}</h3>
  </div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {{#if sortedEvents.0.performance.0.artist.displayName}}
      <li data-target="#carousel-inner-generic" data-slide-to="0" class="active"></li>
    {{/if}}

    {{#if sortedEvents.1.performance.0.artist.displayName}}
      <li data-target="#carousel-inner-generic" data-slide-to="1"></li>
    {{/if}}

    {{#if sortedEvents.2.performance.0.artist.displayName}}
      <li data-target="#carousel-inner-generic" data-slide-to="2"></li>
    {{/if}}

    {{#if sortedEvents.3.performance.0.artist.displayName}}
      <li data-target="#carousel-inner-generic" data-slide-to="3"></li>
    {{/if}}

    {{#if sortedEvents.4.performance.0.artist.displayName}}
      <li data-target="#carousel-inner-generic" data-slide-to="4"></li>
    {{/if}}
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

{{#if sortedEvents.0.performance.0.artist.displayName}}
    <div class="item active">
      <figure class='artist-thumb-wrapper'>
        <img src={{sortedEvents.0.performance.0.artist.imageUrl}} alt={{sortedEvents.0.performance.0.artist.displayName}} class='headliner image'>
      </figure>
      <div class="carousel-caption inner">
          <p class='caption'><strong>{{no-parens sortedEvents.0.displayName}}</strong></p>
        <p class='caption'>{{format-mon sortedEvents.0.start.date}} {{format-day sortedEvents.0.start.date}}, {{format-year sortedEvents.0.start.date}}</p>
      </div>
    </div>
{{/if}}

{{#if sortedEvents.1.performance.0.artist.displayName}}

    <div class="item">
      <figure class='artist-thumb-wrapper'>
        <img src={{sortedEvents.1.performance.0.artist.imageUrl}} alt={{sortedEvents.1.performance.0.artist.imageUrl}} class='headliner image'>
      </figure>
      <div class="carousel-caption inner">
          <p class='caption'><strong>{{no-parens sortedEvents.1.displayName}}</strong></p>
          <p class='caption'>{{format-mon sortedEvents.1.start.date}} {{format-day sortedEvents.1.start.date}}, {{format-year sortedEvents.1.start.date}}</p>
      </div>
    </div>
    {{/if}}
    {{#if sortedEvents.2.performance.0.artist.displayName}}

    <div class="item">
      <figure class='artist-thumb-wrapper'>
        <img src={{sortedEvents.2.performance.0.artist.imageUrl}} alt={{sortedEvents.2.performance.0.artist.imageUrl}} class='headliner image'>
      </figure>
      <div class="carousel-caption inner">
          <p class='caption'><strong>{{no-parens sortedEvents.2.displayName}}</strong></p>
          <p class='caption'>{{format-mon sortedEvents.2.start.date}} {{format-day sortedEvents.2.start.date}}, {{format-year sortedEvents.2.start.date}}</p>
      </div>
    </div>
    {{/if}}
    {{#if sortedEvents.3.performance.0.artist.displayName}}

    <div class="item">
      <figure class='artist-thumb-wrapper'>
        <img src={{sortedEvents.3.performance.0.artist.imageUrl}} alt={{sortedEvents.3.performance.0.artist.imageUrl}} class='headliner image'>
      </figure>
      <div class="carousel-caption inner">
          <p class='caption'><strong>{{no-parens sortedEvents.3.displayName}}</strong></p>
          <p class='caption'>{{format-mon sortedEvents.3.start.date}} {{format-day sortedEvents.3.start.date}}, {{format-year sortedEvents.3.start.date}}</p>
      </div>
    </div>
    {{/if}}
    {{#if sortedEvents.4.performance.0.artist.displayName}}

    <div class="item">
      <figure class='artist-thumb-wrapper'>
        <img src={{sortedEvents.4.performance.0.artist.imageUrl}} alt={{sortedEvents.4.performance.0.artist.imageUrl}} class='headliner image'>
      </figure>
      <div class="carousel-caption inner">
          <p class='caption'><strong>{{no-parens sortedEvents.4.displayName}}</strong></p>
          <p class='caption'>{{format-mon sortedEvents.4.start.date}} {{format-day sortedEvents.4.start.date}}, {{format-year sortedEvents.4.start.date}}</p>
      </div>
    </div>
  {{/if}}
  </div>

  <!-- Controls -->
  {{!-- <a class="left carousel-control" href="#carousel-inner-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-inner-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> --}}
</div>
