  <div class='artists-go-to'>
    <div class='image-wrapper'>
      <a href='javascript:;'{{action 'goToArtists'}}>
        {{svg-jar "singer" width='87px' height='87px'}}
        {{svg-jar "guitar-player" width='87px' height='87px'}}
      </a>
    </div>
      <a href='javascript:;'{{action 'goToArtists'}}>
        <h4>Find tour dates for your favorite artists</h4>
      </a>
  </div>

  <div>
    <div class='image-wrapper'>
      <a href='javascript:;'{{action 'goToRegions'}}>
        {{svg-jar "earth-music" width='87px' height='87px'}}
      </a>
    </div>
    <a href='javascript:;'{{action 'goToRegions'}}>
      <h4>See concerts near you</h4>
    </a>
  </div>

  <div class='venues-go-to'>
    <div class='image-wrapper'>
      <a href='javascript:;'{{action 'goToVenues'}}>
        {{svg-jar "music-tent" width='153px' height="87.02px" viewBox="0 59 277.982 158.1"}}
      </a>
    </div>
      <a href='javascript:;'{{action 'goToVenues'}}>
        <h4>Search for upcoming shows by venue</h4>
      </a>
  </div>
