<h3 class='title'>Nearby Regions</h3>

<ul class='nearby-regions-list'>

{{#each ordered as |location index|}}

  {{#if (neq location.state 'noState')}}

    {{#if (prev-curr ordered index) }}
      <h3>{{location.state}}</h3>
    {{/if}}

  {{else}}

    {{#if (prev-curr ordered index) }}
      <h3>{{location.country}}</h3>
    {{/if}}

  {{/if}}

    <li class='nearby-regions-item'>
      <a href='javascript;' {{action 'goToRegion' location.metroArea.displayName location.metroArea.id}}>
        <h5>{{location.metroArea.displayName}}</h5>
      </a>
    </li>
{{/each}}
</ul>
