  {{#if (gt pages.total_pages 1) }}

    <ul class="pagination">

{{!--PREVIOUS PAGE BUTTON--}}
      {{#if (eq pages.current_page 1)}}

        <li class='disabled' {{action 'previousPage' pages.current_page}}>
          <a aria-label="Previous">
          <span>
            <span aria-hidden="true">&laquo;</span>
          </span>
          </a>
        </li>

      {{else}}

        <li {{action 'previousPage' pages.current_page}}>
          <a href="#" aria-label="Previous">
          <span>
            <span aria-hidden="true">&laquo;</span>
          </span>
          </a>
        </li>

      {{/if}}

{{!--PAGE NUMBERS SELECTION--}}
      {{#if media.isCell}}

        {{#each displayedXS as |pageNumber|}}

          {{#if (eq pages.current_page pageNumber) }}
            <li class="active">
              <a href="#" aria-label="Page">
              <span>{{pageNumber}}<span class="sr-only">(current)</span></span>
              </a>
            </li>
          {{else if (eq pageNumber '...')}}
            <li class='disabled' {{action 'previousPage' pages.current_page}}>
              <a aria-label="Previous">
              <span>
                <span aria-hidden="true">{{pageNumber}}</span>
              </span>
              </a>
            </li>
          {{else}}
            <li class="inactive" {{action 'newPage' pageNumber}}>
              <a href="#" aria-label="Page">
              <span>{{pageNumber}}<span class="sr-only">(current)</span></span>
              </a>
            </li>
          {{/if}}
        {{/each}}

      {{else}}

        {{#each displayedReg as |pageNumber|}}

          {{#if (eq pages.current_page pageNumber) }}
            <li class="active">
              <a href="#" aria-label="Page">
              <span>{{pageNumber}}<span class="sr-only">(current)</span></span>
              </a>
            </li>
          {{else if (eq pageNumber '...')}}
            <li class='disabled' {{action 'previousPage' pages.current_page}}>
              <a aria-label="Previous">
              <span>
                <span aria-hidden="true">{{pageNumber}}</span>
              </span>
              </a>
            </li>
          {{else}}
            <li class="inactive" {{action 'newPage' pageNumber}}>
              <a href="#" aria-label="Page">
              <span>{{pageNumber}}<span class="sr-only">(current)</span></span>
              </a>
            </li>
          {{/if}}
        {{/each}}
      {{/if}}

{{!--NEXT PAGE BUTTON--}}
      {{#if (eq pages.current_page pages.total_pages)}}
        <li class='disabled'{{action 'nextPage' pages.current_page pages.total_pages}}>
          <a aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {{else}}
        <li {{action 'nextPage' pages.current_page pages.total_pages}}>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {{/if}}

    </ul>

  {{/if}}
