<h4>Popular artists playing soon in {{userLocationSetting.regionName}}</h4>
{{!-- <div class='popular-artists-wrapper'>
  <ul class='upcoming-venue-events list'>
  {{#each tenMostPop as |event|}}

  <li class='upcoming-venue-events item'>
  {{#link-to 'artist.event.results' artistSelect.displayName artistSelect.id (query-params page=1) }}
  <div class='img-event-wrapper'>
    <h3>{{event.performance.firstObject.artist.displayName}}</h3>
    <figure class="band-thumb-wrapper">
      <img class="headliner image" src="{{event.performance.firstObject.artist.imageUrl}}" alt="{{event.performance.firstObject.artist.displayName}}" />
      <figcaption class="image-caption-text">{{format-mon event.start.date}} {{format-day event.start.date}}, {{format-year event.start.date}}</figcaption>
    </figure>
  </div>
  {{/link-to}}
  </li>
  {{/each}}
  </ul>
</div> --}}


{{!-- <div class='region-search-detail'>

{{artist-date event=event}}

<div class='region-band-thumbs'>
{{#if (eq event.type 'Festival') }}

  <figure class="band-thumb-wrapper">
    <img class="headliner image" src="{{event.imageUrl}}" alt="{{event.displayName}}" />
    <figcaption class="image-caption-text">{{event.displayName}}</figcaption>
  </figure>


{{else}}
  {{#each event.performance as |performance|}}
      <figure class="band-thumb-wrapper">
        <img class="headliner image" src="{{performance.artist.imageUrl}}" alt="{{performance.artist.displayName}}" />
        <figcaption class="image-caption-text">{{performance.artist.displayName}}</figcaption>
      </figure>

  {{/each}}

{{/if}}
</div>

<ul class='region-event-ul'>
<li class='event'>
  {{#if (eq event.type 'Festival') }}

    <h4><strong>{{event.displayName}}</strong></h4>

  {{else}}
    {{artist-list event=event}}
  {{/if}}

  {{#if (eq event.venue.displayName 'Unknown venue') }}
    <h4>{{event.location.city}}</h4>
  {{else}}
    <h4>{{event.venue.displayName}}, {{event.location.city}}</h4>
  {{/if}}

  {{#if event.start.time}}
  <h6>{{format-time event.start.time}}</h6>
  {{/if}}
  </li>
</ul>

{{#if (eq event.type 'Festival') }}

{{list-every-artist event=event}}

{{/if}}

{{#if event.ageRestriction}}
  <h6>{{event.ageRestriction}}</h6>
{{/if}}
</div> --}}

{{!-- <div class='region-search-main-listing'> --}}

<ul class="event-listings row-fluid block-grid-3">
  {{#each mostPop as |event|}}
        {{region-detail event=event}}
  {{/each}}
</ul>
{{!-- </div> --}}
