<div class='region-results-wrapper'>

{{artist-date event=event}}

{{#if (eq event.type 'Festival') }}

  <ul class='region-event-ul festival'>
    <li class='event'>

      <div class='region-festival-header'>
      <a href='javascript:;'{{action 'goToConcert' event.id}}>
        <h4><strong>{{event.displayName}}</strong></h4>
      </a>
        <div class='type-label'>
          <h5>FESTIVAL</h5>
        </div>
      </div>

      <a href='javascript:;'{{action 'goToConcert' event.id}}>
      {{list-every-artist event=event}}
      </a>

      {{#if (eq event.venue.displayName 'Unknown venue') }}
        <h4>{{event.location.city}}</h4>
      {{else}}
        <h4>{{event.venue.displayName}}, {{event.location.city}}</h4>
      {{/if}}

      {{#if event.start.time}}
      <h6>{{format-time event.start.time}}</h6>
      {{/if}}

    </li>
  </ul>


{{else}}

  <ul class='region-event-ul'>
    <li class='event'>

        {{artist-list event=event
                      goToConcert='goToConcert'}}


      {{#if (eq event.venue.displayName 'Unknown venue') }}
        <h4>{{event.location.city}}</h4>
      {{else}}
        <h4>{{event.venue.displayName}}, {{event.location.city}}</h4>
      {{/if}}

      {{#if event.start.time}}
      <h6>{{format-time event.start.time}}</h6>
      {{/if}}

    </li>
  </ul>

{{/if}}

<div class='region-band-thumbs'>
{{#if (eq event.type 'Festival') }}

  <figure class="band-thumb-wrapper">
    <img class="headliner image" src="{{event.imageUrl}}">
    <figcaption class="image-caption-text">{{event.displayName}}</figcaption>
  </figure>


{{else}}
  {{#each event.performance as |performance|}}

      <figure class="band-thumb-wrapper">
        <img class="headliner image" src="{{performance.artist.imageUrl}}"/>
        <figcaption class="image-caption-text">{{performance.artist.displayName}}</figcaption>
      </figure>

  {{/each}}

{{/if}}
</div>

{{button-to-concert buttonTitle='Details'
                    value=event.id
                    buttonClick='goToConcert'}}

{{#if event.ageRestriction}}
  <h6>{{event.ageRestriction}}</h6>
{{/if}}
</div>
