<div class='region-search-detail'>
{{#if region.noMatch}}
  <h3>We were unable to find a region called  <strong>{{region.metroArea.displayName}}</strong></h3>
  <p>Please try another area!</p>
{{else}}

    <div class="region-search-map-wrapper">
      <img src={{region.metroArea.googleMapUrl}} alt="">
    </div>
    {{#link-to 'region.event.results' region.metroArea.displayName region.metroArea.id (query-params page='1')}}

    {{#if region.metroArea.state.displayName  region.metroArea.country.displayName}}
      <h3>{{region.metroArea.displayName}}, {{region.metroArea.state.displayName}},
      {{region.metroArea.country.displayName}}</h3>
    {{else}}
      <h3>{{region.metroArea.displayName}},
      {{region.metroArea.country.displayName}}</h3>
    {{/if}}
    {{#if (neq region.city.displayName region.metroArea.displayName)}}
    <p>including {{region.city.displayName}}</p>
    {{/if}}
    {{/link-to}}

{{/if}}
</div>
