<li>
  {{#if regionSelect.noMatch}}
    <h3>{{regionSelect.metroArea.displayName}}</h3>
  {{else}}

      {{#link-to 'region.results' (query-params getId=regionSelect.metroArea.id page='1' location=regionSelect.metroArea.displayName)}}
      <h3>{{regionSelect.metroArea.displayName}}</h3>
      <h3>{{regionSelect.metroArea.id}}</h3>
    {{/link-to}}
  {{/if}}
</li>

{{!-- <span {{action 'closeNavigationMenu'}}>
  {{#link-to 'home' preventDefault=false}}
    Go Home
  {{/link-to}}
</span> --}}
