<div class='region-results-wrapper'>

{{artist-date event=event}}

<ul class='region-event-ul'>
<li class='event'>
  {{#if (eq event.type 'Festival') }}
  {{!-- {{#link-to 'event' (query-params getId=regionSelect.metroArea.id page='1' location=regionSelect.metroArea.displayName)}} --}}
    <h4><strong>{{event.displayName}}</strong></h4>
    {{!-- {{/link-to}} --}}
  {{else}}
    {{artist-list event=event}}
  {{/if}}

  {{#if (eq event.venue.displayName 'Unknown venue') }}
    <h4>{{event.location.city}}</h4>
  {{else}}
    <h4>{{event.venue.displayName}}, {{event.location.city}}</h4>
  {{/if}}

  {{#if event.start.time}}
  <h6>{{format-time event.start.time}}</h6>
  {{/if}}
  </li>
</ul>


<div class='region-band-thumbs'>
{{#if (eq event.type 'Festival') }}

  <figure class="band-thumb-wrapper">
    <img class="headliner image" src="{{event.imageUrl}}" alt="{{event.displayName}}" />
    <figcaption class="image-caption-text">{{event.displayName}}</figcaption>
  </figure>


{{else}}
  {{#each event.performance as |performance|}}
    {{!-- {{#if (lt performance.billingIndex 4)}} --}}

      <figure class="band-thumb-wrapper">
        <img class="headliner image" src="{{performance.artist.imageUrl}}" alt="{{performance.artist.displayName}}" />
        <figcaption class="image-caption-text">{{performance.artist.displayName}}</figcaption>
      </figure>

  {{/each}}

{{/if}}
</div>

{{button-to-concert buttonTitle='Details'}}


{{#if (eq event.type 'Festival') }}

{{list-every-artist event=event}}

{{/if}}

{{#if event.ageRestriction}}
  <h6>{{event.ageRestriction}}</h6>
{{/if}}
</div>
