<div class='region-search-detail'>

{{#if region.noMatch}}
  <h5>No Results Found. {{#link-to 'region.search'}}Search by Regions{{/link-to}}</h5>
{{else}}

  <a href='javascript:;'{{action 'goToRegion' region.metroArea.displayName region.metroArea.id}}>

    {{#if region.metroArea.state.displayName  region.metroArea.country.displayName}}
        <h5><strong>{{region.metroArea.displayName}}, {{region.metroArea.state.displayName}},
      {{region.metroArea.country.displayName}}</strong></h5>
    {{else}}
        <h5><strong>{{region.metroArea.displayName}},
      {{region.metroArea.country.displayName}}</strong></h5>
    {{/if}}

    {{#if (neq region.city.displayName region.metroArea.displayName)}}
        <p>including {{region.city.displayName}}</p>
    {{/if}}
  </a>

{{/if}}
</div>
