<div class='region-search-detail'>

    {{#if venue.noMatch}}
        <h5>No Results Found. {{#link-to 'venue.search'}}Search by Venue{{/link-to}}</h5>
    {{else}}

      <a href='javascript:;'{{action 'goToVenue' venue.id}}>
        <h5 class='venue-list'><strong>{{venue.displayName}}</strong></h5>

      {{#if venue.city.state.displayName  venue.city.country.displayName}}
        <h6 class='venue-list'>{{venue.city.displayName}}, {{venue.city.state.displayName}}</h6>
      {{else}}
        <h6 class='venue-list'>{{venue.city.displayName}},
        {{venue.city.country.displayName}}</h6>
      {{/if}}
    </a>

    {{/if}}

</div>
