{{email-input email=credentials.email}}
{{password-input password=credentials.password}}
{{password-confirmation-input password=credentials.passwordConfirmation}}

<div class='authentication-buttons'>
  <button type="submit" class="btn btn-primary" {{action "submit"}}>
    Sign Up
  </button>

  <button class="btn btn-default" {{action "reset"}}>
    Cancel
  </button>
</div>

<div class='change-password-wrapper'>
{{#link-to 'sign-in' class='change-password-link'}}
  <h5>Aleady have an account?  Log In</h5>
{{/link-to}}
</div>
