<div class='similar-artists-wrapper'>
  <h3>Similar Artists</h3>
<ul class="similar-artists">

  {{#each similar as |similar|}}


  <li class='similar-artists-list'>

<div class='clearfix visible-sm'></div>
    <figure class="similar-artists-thumb-wrapper">
      <img class="headliner image" src="{{similar.imageUrl}}" alt="{{artistSelect.displayName}}" />
      {{!-- <figcaption class="image-caption-text">{{similar.displayName}}</figcaption> --}}
    </figure>
    <ul class='similar-artists-text'>
        <li>{{similar.displayName}}</li>
      {{#if similar.onTourUntil}}
        <li>On Tour Until: {{similar.onTourUntil}}</li>
      {{/if}}
    </ul>
    </li>
  {{/each}}
</ul>
</div>
