{{#if upcomingInfo.firstObject.noMatch}}
{{!-- <li class='upcoming-events-item'> --}}
  <div class='upcoming-events-item-div'>
  <h4>{{upcomingInfo.firstObject.performance.artist.displayName}} is not playing near you</h4>
  </div>
{{else}}
  <div class='upcoming-events'>
    {{!--TITLE AND METRO NAME FOR UPCOMING EVENTS IN USER AREA--}}
    <div class='upcoming-events-title-wrapper'>
      <div class='upcoming-events-title'>
        <h3><strong>Next concerts near you</strong></h3>
      </div>
      <div class='upcoming-events-location'>
        <h4>{{upcomingInfo.firstObject.venue.metroArea.displayName}},
            {{upcomingInfo.firstObject.venue.metroArea.state.displayName}},
            {{upcomingInfo.firstObject.venue.metroArea.country.displayName}}</h4>
      </div>
    </div>
    {{!--LISTING FOR UPCOMING EVENTS IN USER AREA--}}
    <ul class='upcoming-events-listing'>
      {{#each upcomingInfo as |event|}}
        <li class='upcoming-events-item'>
          <div class='upcoming-events-item-div'>

            <li class='upcoming-events-date'>
              <strong>
                {{{format-weekday event.start.date}}},
                {{{format-month event.start.date}}}
                {{{format-day event.start.date}}},
                {{{format-year event.start.date}}}
            {{#if event.end.date}}
              -
                {{{format-weekday event.end.date}}},
                {{{format-month event.end.date}}}
                {{{format-day event.end.date}}},
                {{{format-year event.end.date}}}
            {{/if}}
                </strong>
            </li>

          <li class='artist-event'>
            {{#if (eq event.type 'Festival') }}
              <h4><strong>{{event.displayName}}</strong></h4>
              {{purchase-tickets event=event}}
            {{else}}
              {{#each event.performance as |performance|}}
                {{#if (eq event.performance.length 1) }}
                  <h4 class='artist-list'><strong>{{performance.artist.displayName}}</strong></h4>

                {{else if (eq performance.billingIndex event.performance.length) }}
                  {{#if (gt event.performance.length 1) }}
                    <h4 class='artist-list'><strong> {{performance.artist.displayName}}</strong></h4>
                  {{/if}}
                {{else}}
                  <h4 class='artist-list'><strong>{{performance.artist.displayName}}, </strong></h4>
                {{/if}}
              {{/each}}
              {{purchase-tickets event=event}}
            {{/if}}

            {{#if (eq event.venue.displayName 'Unknown venue') }}
              <h4>{{event.location.city}}</h4>
            {{else}}
              <h4>{{event.venue.displayName}}, {{event.location.city}}</h4>
            {{/if}}
          </li>
        </div>

        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
