<div class='upcoming-region-events-header'>
  <h3>{{upper-case model.meta.total_entries}} SHOWS NEAR {{upper-case userLocationSetting.regionName}}</h3>
  {{change-location userChooseRegion='userChooseRegion'}}

</div>

<ul class='upcoming-region-events-list-wrapper'>

  {{#each filteredResults as |event|}}
    <li class='upcoming-region-event item'>

      <a href='javascript;' {{action 'goToConcert'
                              event.id
                              event.venue.metroArea.displayName
                              event.venue.metroArea.id}}>
        <h4><strong>{{no-parens event.displayName}}</strong></h4>
      </a>

      <p>{{format-mon event.start.date}} {{format-day event.start.date}}, {{format-year event.start.date}}</p>
    </li>
  {{/each}}

</ul>

{{#if (gt model.meta.total_entries 5 ) }}
{{button-to-region buttonTitle='See More'
                   buttonClick='goToRegion'
                   regionId=model.id
                   regionName=model.event.firstObject.venue.metroArea.displayName}}
{{/if}}
{{log filteredResults}}
