<h4>More events at <strong>{{venue}}</strong>

    (<a href='javascript:;'
      {{action 'goToVenue'
      venueId}}>see all {{calendar.meta.total_entries}}</a>)
  </h4>

<ul class='upcoming-venue-events-list'>
{{#each filteredResults as |event|}}
  <li class='upcoming-venue-events-item'>

      <h5>{{event.performance.firstObject.artist.displayName}}</h5>

      {{#if (gt event.performance.length 2)}}
        <h5>and {{not-including-curr event.performance.length}} more</h5>
      {{/if}}

    <div class='upcoming-venue-artist-centering'>
      <div class='img-event-wrapper'>
        <figure class="band-thumb-wrapper">
          <img class="headliner image" src="{{event.performance.firstObject.artist.imageUrl}}" alt="{{event.performance.firstObject.artist.displayName}}" />
          <figcaption class="image-caption-text">
            {{format-mon event.start.date}} {{format-day event.start.date}}, {{format-year event.start.date}}
          </figcaption>
        </figure>
      </div>
    </div>
  </li>
{{/each}}
</ul>
