<div class='upcoming-region-events-head'>
  <h3>{{upper-case model.meta.total_entries}} SHOWS NEAR {{upper-case userLocationSetting.regionName}}</h3>
  {{change-location userChooseRegion='userChooseRegion'}}

</div>

<ul class='upcoming-region-events-list-wrapper'>

  {{#each filteredResults as |event|}}
    <li class='upcoming-region-event item'>
      <h4><strong>{{no-parens event.displayName}}</strong></h4>
      <p>{{format-mon event.start.date}} {{format-day event.start.date}}, {{format-year event.start.date}}</p>
    </li>
  {{/each}}

</ul>

{{button-to-concert buttonTitle=buttonTitle
                    buttonClick='getRegionShows'
                    value=model.id}}
