{{!-- {{#if upcomingInfo.firstObject.noMatch}}
  <div class='upcoming-events-item-div'>
  <h4>{{upcomingInfo.firstObject.performance.artist.displayName}} is not playing in <strong>{{userLocationSetting.regionName}}</strong></h4>
  </div>
{{else}}
  <div class='upcoming-events'>

    <div class='upcoming-events-title-wrapper'>
      <div class='upcoming-events-title'>
        <h3><strong>Next concerts near you</strong></h3>
      </div>
      <div class='upcoming-events-location'>
        {{#if upcomingInfo.firstObject.venue.metroArea.state.displayName}}
        <h4>{{upcomingInfo.firstObject.venue.metroArea.displayName}},
            {{upcomingInfo.firstObject.venue.metroArea.state.displayName}},
            {{upcomingInfo.firstObject.venue.metroArea.country.displayName}}</h4>
        {{else}}
        <h4>{{upcomingInfo.firstObject.venue.metroArea.displayName}},
            {{upcomingInfo.firstObject.venue.metroArea.country.displayName}}</h4>
        {{/if}}
      </div>
    </div>

    <ul class='upcoming-events-listing'>
      {{#each upcomingInfo as |event|}} --}}

        <li class='upcoming-events-item'>
          <div class='upcoming-events-item-div'>

            <li class='upcoming-events-date'>
              <strong>
                {{{format-weekday event.start.date}}},
                {{{format-month event.start.date}}}
                {{{format-day event.start.date}}},
                {{{format-year event.start.date}}}
            {{#if event.end.date}}
              -
                {{{format-weekday event.end.date}}},
                {{{format-month event.end.date}}}
                {{{format-day event.end.date}}},
                {{{format-year event.end.date}}}
            {{/if}}
                </strong>
            </li>
          <li class='artist-event'>
              <div class=artist-list-wrapper>
            {{#if (eq event.type 'Festival') }}
              <h4><strong>{{event.displayName}}</strong></h4>
            {{else}}
              {{#each event.performance as |performance|}}
                {{#if (eq event.performance.length 1) }}
                  <h4 class='artist-list'><strong>{{performance.artist.displayName}}</strong></h4>

                {{else if (eq performance.billingIndex event.performance.length) }}
                  {{#if (gt event.performance.length 1) }}
                    <h4 class='artist-list'><strong> {{performance.artist.displayName}}</strong></h4>
                  {{/if}}
                {{else}}
                  <h4 class='artist-list'><strong>{{performance.artist.displayName}}, </strong></h4>
                {{/if}}
              {{/each}}
            {{/if}}
          </div>
          {{!-- {{purchase-tickets event=event}} --}}
            <div class='artist-event-location'>
              {{#if (eq event.venue.displayName 'Unknown venue') }}
                <h4>{{event.location.city}}</h4>
              {{else}}
                <h4>{{event.venue.displayName}}, {{event.location.city}}</h4>
              {{/if}}
            </div>

          </li>
          {{!-- {{purchase-tickets event=event.uri}} --}}

          {{button-to-concert buttonTitle='Details'
                              value=event
                              buttonClick='goToConcert'}}

          {{tracking-buttons-concert model=event
                                     trackEvent='trackUpcomingEvent'
                                     unTrackEvent='unTrackUpcomingEvent'
                                     userPicked=userPicked
                                     isAuthenticated=isAuthenticated
                                     goToAuthenticate='goToAuthenticate'}}
        </div>

        </li>
      {{!-- {{/each}} --}}
    {{!-- </ul> --}}
  {{!-- </div>
{{/if}} --}}
