<div class='region-results-wrapper'>
  {{!--ARTIST DATE  --}}
  <ul class='artist-date'>
    <li class='artist-event-date'>
      <strong>
        {{{format-weekday calendar.show.startDate}}},
        {{{format-month calendar.show.startDate}}}
        {{{format-day calendar.show.startDate}}},
        {{{format-year calendar.show.startDate}}}

    {{#if (neq calendar.show.endDate calendar.show.startDate)}}
      -
        {{{format-weekday calendar.show.endDate}}},
        {{{format-month calendar.show.endDate}}}
        {{{format-day calendar.show.endDate}}},
        {{{format-year calendar.show.endDate}}}
    {{/if}}
        </strong>
    </li>
  </ul>

{{!--PAST EVENT LABEL--}}
{{#if calendar.show.expired}}
<div class='show-has-expired'>
  <div class='type-label'>
    <h5>PAST EVENT</h5>
  </div>
</div>
{{/if}}


<ul class='region-event-ul'>
  <li class='event'>
    <li class='artist-event'>
      <a href='javascript:;' {{action 'goToConcert'
                             calendar.show.eventId
                             calendar.show.regionName
                             calendar.show.regionId}}>
      {{#each calendar.show.performers as |performance index|}}
        {{#if (eq calendar.show.performers.length 1) }}
          <h4 class='artist-list'><strong>{{performance.artistName}}</strong></h4>
        {{else if (arr-last calendar.show.performers.length index) }}
          {{#if (gt calendar.show.performers.length 1) }}
            <h4 class='artist-list'><strong>{{performance.artistName}}</strong></h4>
          {{/if}}
        {{else}}
          <h4 class='artist-list'><strong>{{performance.artistName}}, </strong></h4>
        {{/if}}
      {{/each}}
      </a>
    </li>

    {{#if (eq calendar.show.venue_name 'Unknown venue') }}
      <h4>{{calendar.show.city}}</h4>
    {{else}}
      <h4>{{calendar.show.venueName}}, {{calendar.show.city}}</h4>
    {{/if}}

  </li>

  <div class="user-popularity">
    {{#if calendar.show.expired}}

      {{#if (gt calendar.show.users.length 2)}}
        <h5>{{not-including-curr calendar.show.users.length}} others were interested in this event</h5>
      {{else if (eq calendar.show.users.length 2)}}
        <h5>{{not-including-curr calendar.show.users.length}} other was interested in this event</h5>
      {{/if}}

    {{else}}

      {{#if (gt calendar.show.users.length 2)}}
        <h5>{{not-including-curr calendar.show.users.length}} others are interested in this event</h5>
      {{else if (eq calendar.show.users.length 2)}}
        <h5>{{not-including-curr calendar.show.users.length}} other is interested in this event</h5>
      {{/if}}

    {{/if}}
  </div>

</ul>


  <div class='region-band-thumbs'>
  {{#if (eq event.type 'Festival') }}

    <figure class="band-thumb-wrapper">
      <img class="headliner image" src="{{event.imageUrl}}">
      <figcaption class="image-caption-text">{{event.displayName}}</figcaption>
    </figure>


  {{else}}
    {{#each calendar.show.performers as |performer|}}

        <figure class="band-thumb-wrapper">
          <img class="headliner image" src="{{performer.artistImg}}"/>
          <figcaption class="image-caption-text">{{performance.artistName}}</figcaption>
        </figure>

    {{/each}}

  {{/if}}
  </div>
  {{purchase-tickets event=calendar.show.eventLink}}

  {{tracking-button-calendar value=calendar.id
                             buttonTitle='Click to Untrack'
                             buttonClick='unTrackEvent'}}

</div>
