<div class='region-search-detail'>
{{#if regionSelect.noMatch}}
  <h3>We were unable to find a region called  <strong>{{regionSelect.metroArea.displayName}}</strong></h3>
  <p>Please try another area!</p>
{{else}}

    <div class="region-search-map-wrapper">
      <img src={{regionSelect.metroArea.googleMapUrl}} alt="">
    </div>
    {{!-- {{#link-to 'region.event.results' (query-params getId=regionSelect.metroArea.id page='1' location=regionSelect.metroArea.displayName)}} --}}
    {{!-- {{#link-to 'user.change-location.confirm'}} --}}
    {{!-- <a href='javascript:;' {{action 'saveRegion'
    regionSelect.metroArea.displayName
    regionSelect.metroArea.id
    regionSelect.metroArea.country.displayName
    regionSelect.metroArea.state.displayName}}> --}}

    <a href='javascript:;' {{action 'saveRegion' regionSelect.metroArea.id regionSelect.metroArea}}>

    {{!-- {{region-search-location-map}} --}}
    {{#if regionSelect.metroArea.state.displayName  regionSelect.metroArea.country.displayName}}
      <h3>{{regionSelect.metroArea.displayName}}, {{regionSelect.metroArea.state.displayName}},
      {{regionSelect.metroArea.country.displayName}}</h3>
    {{else}}
      <h3>{{regionSelect.metroArea.displayName}},
      {{regionSelect.metroArea.country.displayName}}</h3>
    {{/if}}
    {{#if (neq regionSelect.city.displayName regionSelect.metroArea.displayName)}}
    <p>including {{regionSelect.city.displayName}}</p>
    {{/if}}
    </a>
    {{!-- {{/link-to}} --}}

{{/if}}
</div>
