<div class='region-search-detail'>
{{#if regionSelect.noMatch}}
  <h3>We were unable to find a region called  <strong>{{regionSelect.metroArea.displayName}}</strong></h3>
  <p>Please try another area!</p>
{{else}}

    <div class="region-search-map-wrapper">
      <img src={{regionSelect.metroArea.googleMapUrl}} alt="">
    </div>

    <a href='javascript:;' {{action 'saveRegion' regionSelect.metroArea.id regionSelect.metroArea}}>

    {{#if regionSelect.metroArea.state.displayName  regionSelect.metroArea.country.displayName}}
      <h3>{{regionSelect.metroArea.displayName}}, {{regionSelect.metroArea.state.displayName}},
      {{regionSelect.metroArea.country.displayName}}</h3>
    {{else}}
      <h3>{{regionSelect.metroArea.displayName}},
      {{regionSelect.metroArea.country.displayName}}</h3>
    {{/if}}
    {{#if (neq regionSelect.city.displayName regionSelect.metroArea.displayName)}}
    <p>including {{regionSelect.city.displayName}}</p>
    {{/if}}
    </a>

{{/if}}
</div>
