<div class='region-results-wrapper'>

{{artist-date event=event}}

<ul class='region-event-ul'>
<li class='event'>
  {{#if (eq event.type 'Festival') }}
    <h4><strong>{{event.displayName}}</strong></h4>
  {{else}}

    {{artist-list event=event
                  value=event.id
                  goToConcert='goToConcert'}}
  {{/if}}

  {{#if (eq event.venue.displayName 'Unknown venue') }}
    <h4>{{event.location.city}}</h4>
  {{else}}
    <h4>{{event.venue.displayName}}, {{event.location.city}}</h4>
  {{/if}}

  {{#if event.start.time}}
  <h6>{{format-time event.start.time}}</h6>
  {{/if}}
  </li>
</ul>

{{#if (eq event.type 'Festival') }}

{{list-every-artist event=event}}

{{/if}}

<div class='region-band-thumbs'>
{{#if (eq event.type 'Festival') }}

  <figure class="band-thumb-wrapper">
    <img class="headliner image" src="{{event.imageUrl}}"/>
    <figcaption class="image-caption-text">{{event.displayName}}</figcaption>
  </figure>


{{else}}
  {{#each event.performance as |performance|}}

      <figure class="band-thumb-wrapper">
        <img class="headliner image" src="{{performance.artist.imageUrl}}"/>
        <figcaption class="image-caption-text">{{performance.artist.displayName}}</figcaption>
      </figure>

  {{/each}}

{{/if}}
</div>

{{#if userPicked}}
{{button-untrack-event value=event
                     buttonTitle='Tracked!!'
                     buttonClick='unTrackEvent'}}
{{else}}
{{button-track-event value=event
                     buttonTitle='Track Event'
                     buttonClick='trackEvent'}}
{{/if}}

{{button-to-concert value=event.id
                    buttonClick='goToConcert'
                    buttonTitle=buttonTitle}}

{{#if event.ageRestriction}}
  <h6>{{event.ageRestriction}}</h6>
{{/if}}
</div>
