<div class='artist-event-listing concert'>
{{!--FOR FESTIVALS--}}
{{#if (eq model.type 'Festival')}}
    <div class='artist-concert festival'>
      <div class='concert-image-wrapper'>
        <img src={{model.imageUrl}}>
      </div>
      <h2><strong>{{no-parens model.displayName}}</strong></h2>

    {{artist-date event=model}}

    {{concert-featuring-artist isFullList=isFullList
                                getFullList='getFullList'
                                performances=model.performance
                                concertId=model.id}}
  </div>

{{else}}
  <div class='artist-concert concert'>
    <h3><strong>{{no-parens model.displayName}}</strong></h3>

    {{purchase-tickets event=model}}

    {{artist-date event=model}}


      {{concert-also-featuring goToArtist='goToArtist'
                               model=model}}
    </div>
{{/if}}

    {{!-- <p>Concert Popularity: {{model.popularity}}</p> --}}

  {{!-- VENUE DETAILS--}}
  {{concert-venue-details model=model}}

  {{#if (gt model.calendar.event.length 1)}}
    {{upcoming-venue-events calendar=model.calendar
                          concertId=model.id
                          venue=model.venue.displayName
                          venueId=model.venue.id
                          goToVenue='goToVenue'}}
  {{/if}}

</div>
