<div class='artist-event-listing'>

  <h3><strong>{{{no-parens model.firstObject.displayName}}}</strong></h3>

    {{artist-date event=model.firstObject}}

  <h5>Featuring: </h5>
    {{#each model.firstObject.performance as |performance|}}
      {{#if (lt performance.billingIndex model.firstObject.performance.length)}}
        <h4 class='artist-list'>{{performance.artist.displayName}}, </h4>
      {{else}}
        <h4 class='artist-list'>{{performance.artist.displayName}}</h4>
      {{/if}}
    {{/each}}
  {{!-- {{/if}} --}}
  {{!-- <p>Event type: {{model.firstObject.type}}</p> --}}
  <p>Concert Popularity: {{model.firstObject.popularity}}</p>



{{!-- VENUE DETAILS--}}
  <h3>Venue</h3>
  <p>{{model.firstObject.venue.displayName}}</p>
  <p>{{model.firstObject.venue.street}}</p>
  <p>{{model.firstObject.venue.zip}}</p>
  <p>{{model.firstObject.venue.city.displayName}}, {{model.firstObject.venue.city.state.displayName}}, {{model.firstObject.venue.city.country.displayName}}</p>
  <p>{{model.firstObject.venue.phone}}</p>
  <p>{{model.firstObject.venue.website}}</p>
  {{#if model.firstObject.venue.capacity}}
    <p>Capacity: <strong>{{model.firstObject.venue.capacity}}</strong></p>
  {{/if}}

{{location-map lat=model.firstObject.venue.lat lng=model.firstObject.venue.lng title=model.firstObject.venue.displayName}}

  {{!-- <p>{{model.firstObject.venue.description}}</p> --}}
</div>
