{{!-- <div class='region-event-listing'>
  {{#unless model.noMatch}}
  {{date-range-picker filterDate='filterDate'
                      min_date=min_date
                      max_date=max_date}}
  {{/unless}}

  {{#if model.noMatch}}
    <h3>No upcoming events found for  <strong>{{accessRegionObj.regionName.firstObject.metroArea.displayName}}</strong></h3>
  {{else}}
    <h3><strong>Upcoming Concerts ({{model.meta.total_entries}})</strong></h3>
    <ul class="event-listings row-fluid block-grid-3">
      {{#each model.event as |event|}}

            {{region-detail event=event
                            goToConcert='goToConcert'}}

      {{/each}}
    </ul>
  {{/if}}

  {{pagination-bar pages=model.meta
                  newPage='changeRegionPage'
                  previousPage='previousPage'
                  nextPage='nextPage'}}

</div> --}}
















<div class='region-event-listing artist'>

{{upcoming-events upcomingInfo=model.upcomingInfo}}

{{#unless model.noMatch}}
{{date-range-picker filterDate='filterDate'
                    min_date=min_date
                    max_date=max_date}}
{{/unless}}
  {{!-- {{#if model.similar.firstObject.noMatch}}

    <div class='artist-event-listing' style='border:none'>
        <ul class="event-listings row-fluid block-grid-3">
          {{#each model.event as |event|}}
            <li class='artist-detail-list'>
              {{artist-detail event=event}}
            </li>
          {{/each}}
        </ul>
      </div>
  {{else}} --}}
  {{!-- <div class='region-event-listing'> --}}
      {{#if model.artist.event.firstObject.noMatch}}
        <h3>No upcoming concerts found for  <strong>{{name.name.artist_name}}</strong></h3>

      {{else}}
        <h3><strong>Upcoming Concerts ({{model.artist.meta.total_entries}})</strong></h3>
        <ul class="event-listings row-fluid block-grid-3">
          {{#each model.artist.event as |event|}}

              {{artist-detail event=event
                              goToConcert='goToConcert'
                              }}

          {{/each}}
        </ul>
      {{/if}}

      {{pagination-bar pages=model.artist.meta
                      newPage='changeArtistPage'
                      previousPage='previousPage'
                      nextPage='nextPage'}}
    </div>

  {{!-- {{/if}} --}}
