<div class='region-event-listing artist'>

  {{#if model.upcomingInfo.firstObject.noMatch}}
    <div class='upcoming-events-item-div'>
    <h4>{{model.upcomingInfo.firstObject.performance.artist.displayName}} is not playing in <strong>{{userLocationSetting.regionName}}</strong></h4>
    </div>
  {{else}}

    <div class='upcoming-events'>
      {{!--TITLE AND METRO NAME FOR UPCOMING EVENTS IN USER AREA--}}
      <div class='upcoming-events-title-wrapper'>
        <div class='upcoming-events-title'>
          <h3><strong>Next concerts near you</strong></h3>
        </div>
        <div class='upcoming-events-location'>
          {{#if model.upcomingInfo.firstObject.venue.metroArea.state.displayName}}
          <h4>{{model.upcomingInfo.firstObject.venue.metroArea.displayName}},
              {{model.upcomingInfo.firstObject.venue.metroArea.state.displayName}},
              {{model.upcomingInfo.firstObject.venue.metroArea.country.displayName}}</h4>
          {{else}}
          <h4>{{model.upcomingInfo.firstObject.venue.metroArea.displayName}},
              {{model.upcomingInfo.firstObject.venue.metroArea.country.displayName}}</h4>
          {{/if}}
        </div>
      </div>
      {{!--LISTING FOR UPCOMING EVENTS IN USER AREA--}}
      <ul class='upcoming-events-listing'>
      {{#each model.upcomingInfo as |event|}}

      {{upcoming-events event=event
                        userEventArr=userEventArr
                        goToConcert='goToConcert'
                        trackUpcomingEvent='trackUpcomingEvent'
                        unTrackUpcomingEvent='unTrackUpcomingEvent'
                        isAuthenticated=isAuthenticated
                        goToAuthenticate='goToAuthenticate'}}
      {{/each}}
      </ul>
    </div>
  {{/if}}

{{#unless model.noMatch}}
{{date-range-picker filterDate='filterDate'
                    min_date=min_date
                    max_date=max_date}}
{{/unless}}

      {{#if model.artist.event.firstObject.noMatch}}
        <h3>No upcoming concerts found for  <strong>{{name.name.artist_name}}</strong></h3>

      {{else}}
        <h3><strong>Upcoming Concerts ({{model.artist.meta.total_entries}})</strong></h3>
        <ul class="event-listings row-fluid block-grid-3">
          {{#each model.artist.event as |event|}}

              {{artist-detail event=event
                              userEventArr=userEventArr
                              goToConcert='goToConcert'
                              trackEvent='trackEvent'
                              unTrackEvent='unTrackEvent'
                              isAuthenticated=isAuthenticated
                              goToAuthenticate='goToAuthenticate'}}

          {{/each}}
        </ul>
      {{/if}}
      {{pagination-bar pages=model.artist.meta
                      newPage='changeArtistPage'
                      previousPage='previousPage'
                      nextPage='nextPage'}}
    </div>
