{{upcoming-events upcomingInfo=model.upcomingInfo}}
  {{!-- {{#if model.similar.firstObject.noMatch}}

    <div class='artist-event-listing' style='border:none'>
        <ul class="event-listings row-fluid block-grid-3">
          {{#each model.event as |event|}}
            <li class='artist-detail-list'>
              {{artist-detail event=event}}
            </li>
          {{/each}}
        </ul>
      </div>
  {{else}} --}}
    <div class='artist-event-listing'>
      {{#if model.artist.event.firstObject.noMatch}}
        <h3>No upcoming concerts found for  <strong>{{name.name.artist_name}}</strong></h3>

      {{else}}
        <h3><strong>Upcoming Concerts</strong></h3>
        <ul class="event-listings row-fluid block-grid-3">
          {{#each model.artist.event as |event|}}
            <li class='artist-detail-list'>
              {{artist-detail event=event changeRoute='changeRoute'}}
            </li>
          {{/each}}
        </ul>
      {{/if}}

    </div>

  {{!-- {{/if}} --}}
  {{pagination-bar pages=model.artist.meta
                  newPage='changeArtistPage'
                  previousPage='previousPage'
                  nextPage='nextPage'}}
