{{!-- <h1>{{search-title title=model.meta.artist}}</h1> --}}
<div class='artist-event-section'>
  <div class='artist-event-wrapper'>
    {{#if model.similar.firstObject.noMatch}}
      <div class='artist-event-listing' style='border:none'>
          <ul class="event-listings row-fluid block-grid-3">
            {{#each model.event as |event|}}
              <li class='artist-detail-list'>
                <div class='artist-detail'>
                  {{artist-detail event=event}}
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
    {{else}}
      {{similar-artists similar=model.similar}}
      <div class='artist-event-listing'>
        <ul class="event-listings row-fluid block-grid-3">
          {{#each model.event as |event|}}
            <li class='artist-detail-list'>
              <div class='artist-detail'>
                {{artist-detail event=event}}
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
</div>
{{pagination-bar pages=model.event.meta
                newPage='changeArtistPage'
                previousPage='previousPage'
                nextPage='nextPage'}}
