<div class='region-info-section'>

  {{#each model.search.artist as |basic| }}
    {{#if (eq basic.displayName model.search.meta.artist) }}
    <figure class='region-background-wrapper'>
        <img class='artist-background' src='{{basic.imageUrl}}' alt='{{basic.displayName}}'/>
      </figure>
    {{/if}}
  {{/each}}

  <div class='region-info-wrapper'>

  {{#each model.search.artist as |basic| }}
    {{#if (eq basic.displayName model.search.meta.artist) }}
    <figure class="region-thumb-wrapper">
      <img class="headliner image" src='{{basic.imageUrl}}' alt='{{basic.displayName}}'/>
        {{#if basic.onTourUntil}}
          <figcaption class="on-tour-caption-text"><span class='tour-tag'>ON TOUR</span>
          </figcaption>
        {{/if}}
      </figure>
    {{/if}}
    {{/each}}

    <div class='region-info'>

      {{#each model.search.artist as |basic|}}
        {{#if (eq basic.displayName model.search.meta.artist)}}
          <h1>{{basic.displayName}}</h1>
          {{#if basic.onTourUntil}}
            <h4>On Tour Until:
              {{{format-month basic.onTourUntil}}}
              {{{format-day basic.onTourUntil}}},
              {{{format-year basic.onTourUntil}}}
            </h4>

          {{else if model.artist.meta.total_entries}}
            <h4>On Tour: Yes</h4>
          {{else}}
            <h4>Not on tour</h4>
          {{/if}}
          {{#if model.artist.meta.total_entries}}
            <h4>Upcoming Events: {{model.artist.meta.total_entries}}</h4>
          {{else}}
            <h4>Upcoming Concerts: None</h4>
          {{/if}}
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<div class='region-event-section'>
  <div class='region-event-wrapper'>
    {{outlet}}
    {{#if (neq model.similar.firstObject.noMatch true)}}
      {{similar-artists similar=model.similar
                        goToArtist='goToArtist'}}
    {{/if}}
  </div>
</div>
