<div class='region-info-section'>
  <figure class='region-background-wrapper'></figure>
  <div class='region-info-wrapper'>
    <figure class="region-thumb-wrapper">
      <img class="headliner region image" src='{{model.matchReg.firstObject.metroArea.googleMapHDUrl}}' alt='{{model.venue.displayName}}'/>
    </figure>

    <div class='region-info'>
      <h1>{{model.matchReg.firstObject.metroArea.displayName}}</h1>

      {{#if model.matchReg.firstObject.metroArea.state.displayName}}

        <h4>{{model.matchReg.firstObject.metroArea.state.displayName}}, {{model.matchReg.firstObject.metroArea.country.displayName}}</h4>

      {{else}}

        <h4>{{model.matchReg.firstObject.metroArea.country.displayName}}</h4>

      {{/if}}
        <h4>{{model.venue.phone}}</h4>
        <h4>
          <a href={{model.venue.website}} target='_blank'>{{model.venue.website}}</a>
        </h4>

      {{#if model.region.meta.total_entries}}
        {{!-- <h4>Upcoming Events in {{model.matchReg.firstObject.metroArea.displayName}}: {{model.region.meta.total_entries}}</h4> --}}
        <h4>Upcoming Events in {{model.matchReg.firstObject.metroArea.displayName}}: {{count.regionCount}}</h4>
      {{else}}
        <h4>Upcoming Events in {{model.matchReg.firstObject.metroArea.displayName}}: None</h4>
      {{/if}}

    </div>
  </div>
</div>

<div class='region-event-section'>
  <div class='region-event-wrapper'>
    {{outlet}}
      {{nearby-regions locations=model.loc
                       currLoc=model.matchReg.firstObject.id
                       goToRegion='goToRegion'}}
  </div>
</div>
