<h1>{{search-title title=model.meta.location}}</h1>

{{pagination-bar pages=model.meta
                newPage='changeRegionPage'
                previousPage='previousPage'
                nextPage='nextPage'}}

<ul class="event-listings row-fluid block-grid-3">
  {{#each model as |event|}}
    <li class='region-detail-list'>
      <div class='region-detail col-xs-10'>
        {{region-detail event=event}}
      </div>
    </li>
  {{/each}}
</ul>

{{log model.meta}}
{{pagination-bar pages=model.meta
                newPage='changeRegionPage'
                previousPage='previousPage'
                nextPage='nextPage'}}
