<div class='region-info-section'>
  <figure class='region-background-wrapper'></figure>

  <div class='region-info-wrapper'>
    <figure class="region-thumb-wrapper">
      <img class="headliner image" src='{{model.venue.imageUrl}}' alt='{{model.venue.displayName}}'/>
    </figure>

    <div class='region-info'>
      <h1>{{model.venue.displayName}}</h1>

      {{#if model.venue.street}}
        <h4>{{model.venue.street}}</h4>
      {{/if}}

      {{#if model.venue.zip}}
        <h4>{{model.venue.zip}}</h4>
      {{/if}}
      {{#if model.venue.city.state.displayName}}

        <h4>{{model.venue.city.displayName}}, {{model.venue.city.state.displayName}}, {{model.venue.city.country.displayName}}</h4>

      {{else}}

        <h4>{{model.venue.city.displayName}}, {{model.venue.city.country.displayName}}</h4>

      {{/if}}
        <h4>{{model.venue.phone}}</h4>
        <h4>
          <a href={{model.venue.website}} target='_blank'>{{model.venue.website}}</a>
        </h4>

      {{#if model.calendar.meta.total_entries}}
        <h4>Upcoming Events: {{model.calendar.meta.total_entries}}</h4>
      {{else}}
        <h4>Upcoming Concerts: None</h4>
      {{/if}}

    </div>
  </div>
</div>

<div class='region-event-section'>
  <div class='region-event-wrapper'>
    {{outlet}}
      {{past-events model=model.region}}
  </div>
</div>
