<div class='artist-event-listing concert'>
{{!--FOR FESTIVALS--}}
{{#if (eq model.type 'Festival')}}
    <div class='artist-concert festival'>
      <div class='concert-image-wrapper'>
        <img src={{model.imageUrl}}>
      </div>
      <h2><strong>{{no-parens model.displayName}}</strong></h2>

    {{artist-date event=model}}

    {{concert-featuring-artist isFullList=isFullList
                                goToArtist='goToArtist'
                                getFullList='getFullList'
                                performances=model.performance
                                concertId=model.id}}
  </div>

{{else}}
  <div class='artist-concert concert'>
    <h3><strong>{{no-parens model.displayName}}</strong></h3>

    {{purchase-tickets event=model}}

    {{tracking-buttons-concert model=model
                               trackEvent='trackEvent'
                               unTrackEvent='unTrackEvent'
                               userPicked=userPicked}}

    {{artist-date event=model}}


    {{concert-featuring-artist isFullList=isFullList
                                goToArtist='goToArtist'
                                getFullList='getFullList' performances=model.performance concertId=model.id}}
    </div>

{{/if}}
  {{!-- VENUE DETAILS--}}
  {{concert-venue-details model=model
                          goToVenue='goToVenue'}}
</div>
