
{{!-- <div class='header-title show-hock'>
  <h1>Show Hock</h1>
</div>

{{svg-jar "powered-by-songkick-pink" width='100px' height='100px'}} --}}

<div class='landing-info-section event-info'>

    {{event-carousel-outer events=model.event
                        slideFrom=slideFrom
                        slideTo=slideTo
                        slideClick=slideClick}}

  <div class='landing-info-wrapper index'>
    {{upcoming-region-events model=model
                            goToRegion='goToRegion'
                            goToConcert='goToConcert'
                            userChooseRegion='userChooseRegion'}}

    {{events-carousel events=model.event
                  slideFrom=slideFrom
                  slideTo=slideTo
                  slideClick=slideClick
                  goToConcert='goToConcert'}}
  </div>
</div>

{{landing-page-search-menu goToRegions='goToRegions'
                           goToArtists='goToArtists'
                           goToVenues='goToVenues'}}

{{liquid-outlet}}
