{{!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <span class="glyphicon glyphicon-pushpin" aria-hidden="true">
      {{navbar-location class='navbar-brand'}}</span>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        {{#nav-link-to 'index'}}Home{{/nav-link-to}}
        {{#nav-link-to 'artist.search'}}Artist Search{{/nav-link-to}}
        {{#nav-link-to 'region.search'}}Region Search{{/nav-link-to}}

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> --}}

{{!-- <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">Toggle search</button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#links">Toggle links</button> <a class="navbar-brand" href="#">Brand</a>

    </div>
    <ul class="collapse navbar-collapse nav navbar-nav" id="links">
        <li class="active"><a href="#">Link</a>

        </li>
        <li><a href="#">Link</a>

        </li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>

            <ul class="dropdown-menu">
                <li><a href="#">Action</a>

                </li>
                <li><a href="#">Another action</a>

                </li>
                <li><a href="#">Something else here</a>

                </li>
                <li><a href="#">Separated link</a>

                </li>
                <li><a href="#">One more separated link</a>

                </li>
            </ul>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="search">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</nav> --}}








<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">



      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

{{!--FOR THE SEARCH BAR--}}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a class="navbar-brand" href="#">Brand</a>

    </div>

    <ul class="collapse navbar-collapse nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">

      {{!-- <ul class="nav navbar-nav"> --}}
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
    </ul>


{{!--FOR THE SEARCH BAR--}}
    <div class="collapse search navbar-collapse" id="bs-example-navbar-collapse-2">
        <form class="navbar-form navbar-left">
        {{!-- <div class="form-group"> --}}
        {{!-- {{search-input keyword=entered}} --}}

          {{#if (eq dropdown.name 'Artists')}}
            {{search-input keyword=entered placeholder='Enter artist name'}}
            {{!-- {{#link-to 'artist.search.results' (query-params search=entered)}} --}}
              {{#link-to 'artist.search.results' entered }}
              <button type="submit" class="btn btn-success search-button visible-xs">
              <span class='glyphicon glyphicon-search'></span>
              Search
              </button>
            {{/link-to}}
          {{else if (eq dropdown.name 'Region')}}
          {{search-input keyword=entered placeholder='Enter region/city name'}}
            {{#link-to 'region.search.results' (query-params search=entered)}}
              <button type="submit" class="btn btn-success search-button visible-xs">
              <span class='glyphicon glyphicon-search'></span>
              Search
              </button>
            {{/link-to}}
          {{/if}}

          {{!-- {{#link-to 'artist.search.results' (query-params search=entered)}}
            <button type="submit" class="btn btn-success search-button visible-xs">
            <span class='glyphicon glyphicon-search'></span>
            Search
            </button>
          {{/link-to}} --}}

        {{!-- </div> --}}
        {{!-- {{search-input-dropdown}} --}}
      </form>
      <ul class="nav navbar-nav navbar-left">

      <li class="dropdown">

        {{!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a> --}}

        {{!-- <select><a href="#" onchange={{action (mut dropdownIndex) value='target.value'}} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a> --}}

        {{!-- <select onchange= {{action (mut dropdownIndex) value="target.value" data-toggle="dropdown" class='dropdown-toggle' role='button' aria-haspopup="true" aria-expanded="false"}}> --}}
        <select onchange= {{action (mut dropdownIndex)
                value="target.value"}}
                data-toggle="dropdown"
                class="dropdown-list selectpicker"
                role="button">
          {{#each dropdowns as |dropdownChoice index|}}
            <option value= {{ index }} selected= {{eq dropdownIndex index}}>{{dropdownChoice.name}}</option>
          {{/each}}
        </select>

        {{!-- <ul class="dropdown-menu">
          {{#each dropdowns as |dropdownChoice index|}}
            <li><a value= {{ index }} selected= {{eq dropdownIndex index}}>{{dropdownChoice.name}}</a></li>
          {{/each}}

          <li><a href="#">Artists</a></li>
          <li><a href="#">Regions</a></li>
          <li><a href="#">Venues</a></li>

        </ul> --}}
      </li>
      </ul>



      {{!-- <select onchange={{action (mut vehicleIndex) value="target.value"}}>
        {{#each vehicles as |vehicleChoice index|}}
          <option value={{ index }} selected={{eq vehicleIndex index}}>{{vehicleChoice.name}}</option>
        {{/each}}
      </select>
{{log thing}}
      <p>
        Vehicle: {{vehicle.name}}
      </p>

      <p>
        Year: {{vehicle.year}}
      </p> --}}

{{!-- {{log dropdownItem}} --}}
    </div>

    {{!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> --}}



    {{!-- <ul class="collapse navbar-collapse nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1"> --}}

      {{!-- <ul class="nav navbar-nav"> --}}


        {{!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
    </ul> --}}



      {{!-- <ul class="nav navbar-nav navbar-left"> --}}
      {{!-- <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li> --}}
      {{!-- </ul> --}}
      {{!-- <ul class="nav navbar-nav navbar-right"></ul> --}}
    {{!-- </div> --}}






    {{!--
    <div class="navbar-header">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div> --}}
  </div><!-- /.container-fluid -->
</nav>

<div class="under-space"></div>
